<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label>
        Character
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  @defer(when !isLoading){
  <app-character-card
    [title]="characterInfo?.name"
    [subtitle]="characterInfo?.gender"
    [image]="characterInfo?.image"
    [status]="characterInfo?.status"
    [species]="characterInfo?.species"
    [origin]="characterInfo?.origin"
    [isDetail]="true"
  />
  } @placeholder {
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-label> Loading data </ion-label>
    </ion-col>
  </ion-row>
  }
  <br />

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title> Location: </ion-title>
      </ion-col>
      <ion-col>
        <strong>
          <ion-label> {{ locationInfo?.name}} </ion-label>
        </strong>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <!-- <app-character-list [characterList]="residents">
  </app-character-list> -->
  <ion-list>
    <ion-title>
        <h2>Residents</h2>
    </ion-title>
    <!-- <ion-title>
      <ion-label> Residents </ion-label>
    </ion-title> -->
    <br />
      @for(resident of residents ; track $index){
        <ion-item>
            <ion-avatar slot="start">
              <img
              [alt]="resident.name"
              [src]="resident.image"
              />
            </ion-avatar>
            <ion-label><h3>{{ resident.name }}</h3></ion-label>
            <ion-label>
              <p>
                {{ resident.gender}}
              </p>
            </ion-label>
        </ion-item>
      }
  </ion-list>
</ion-content>
