<app-header title="Ricky and Morty App"/>
<ion-content [fullscreen]="true">
  @if(characterResponse){
    @defer (on idle) {
      <ion-grid [fixed]="true">
        <app-character-list
          [characterList]="characterResponse!.results"
          [currentPage]="currentPage"
        />
      </ion-grid>
    } @placeholder {
      <ion-grid>
        <ion-label>
          loading...
        </ion-label>
      </ion-grid>
    } @loading (){
      |||||||||||
    } @error {
      <ion-label>Failed to load characters</ion-label>
    }
  }
</ion-content>
